@font-face {
    font-family: "Cursed Timer";
    src: url(./fonts/CursedTimerUlil-Aznm.ttf) format('truetype');
}

main {
    margin: 0;
    background-color: #1B244A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-lg {
    font-size: 50px;
}

h3, .reset-btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

h3 {
    margin: 0;
}

.color-white {
    color: #EEEEEE;
}

.color-blue {
    color: #9AABD8;
}

.container {
    display: flex;
    justify-content: space-around;
    font-family: "Cursed Timer";
    font-weight: 400;
    font-style: normal;
    gap: 6rem;
}

.tableau {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.black-bg {
    background-color: black;
    padding: 1rem 1rem;
    width: 100px;
    border-radius: 5px;
}

.tableau p {
    color: #F94F6D;
    margin: 0;
    text-align: center;
}

.btn {
    font-family: inherit;
    background-color: transparent;
    aspect-ratio: 1;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: .6em;
}